.form, .form-group{
    display: -ms-grid;
    display: grid;
    width: 30rem;
    padding-bottom: 1rem;
}

.login-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 500;
}

.container {
    height: 25rem;
    width: 25rem;
    background: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem);
    font-size: 1rem;
    line-height: 2;
    color: #4a4f53;
    border-bottom: 1px solid #91979b;
    margin-bottom: 0.5rem;
    outline: none;
}

.btn-outline-primary {
    border: 0.5 solid #4a4f53;
    color: #4a4f53;
}

.btn {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}