.form, .form-group{
    padding: 0.5rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem);
    font-size: 1rem;
    line-height: 2;
    color: #4a4f53;
    border-bottom: 1px solid #91979b;
    /* border-left: none !important;
    border-right: none !important;
    border-top: none !important; */
    margin-bottom: 0.5rem;
    outline: none;
}

.btn-primary {
    border: 0.5 solid #4a4f53;
    color: #4a4f53;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}